.carousel__item {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  gap: 20px;
}

.carousel__item article {
  max-width: 75%;
  line-height: 32px;
  text-align: center;
}

/* .slick-prev::before {
  content: url("../../../public//assets//icons/arrow-left.svg");
}

.slick-next::before {
  content: url("../../../public//assets//icons/arrow-right.svg");
} */

.slick-prev::before,
.slick-next::before {
  display: inline-block;
  width: 30px !important;
  height: 30px !important;
}

.slick-dots {
  bottom: -20px;
}

.slick-dots li button::before {
  content: "";
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.slick-track {
  display: flex;
  align-items: center;
  height: 100%;
}

.slick-slide > div {
  display: flex;
  align-items: center;
  height: 100%;
}

@media only screen and (max-width: 650px) {
  .carousel__item {
    padding: 0;
    gap: 20px;
  }

  .slick-prev::before,
  .slick-next::before {
    display: none;
  }
  .carousel__item article {
    max-width: 90%;
    line-height: 25px;
    text-align: center;
  }
}
