.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 25px;
  position: fixed;
  width: 97%;
  background-color: #fff;
  z-index: 200;
  box-shadow: 1px 1px 1px 1px #eee;
}
.header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header nav ul a li {
  list-style-type: none;
  padding: 10px 20px;
  font-weight: 500;
}
.header nav ul a {
  text-decoration: none;
  color: black;
}
.header nav ul a:hover {
  color: green;
  transition: all 0.5s;
}
.header .header__menuIcon {
  display: none;
}

@media only screen and (max-width: 700px) {
  .header .header__nav {
    display: none;
  }
  .header {
    width: 90%;
  }
  .header .header__menuIcon {
    display: block;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .header .header__menuIcon img {
    padding: 10px;
  }
  .header__resNav ul {
    flex-direction: column;
    text-align: center;
  }
  .show {
    display: block;
    transition: all 0.5s;
  }
  .hide {
    display: none;
    transition: all 0.5s;
  }
}

@media only screen and (max-width: 300px){
  .header {
    padding: 0 5px
  }
}
