.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(0, 0, 0);
  color: #fff;
  padding: 50px;
}
.footer .footer__left ul {
  list-style-type: none;
}
.footer .footer__left ul a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
.footer .footer__right h3 {
  padding: 5px 0px;
}
.footer .footer__right input {
  outline: none;
  border: 1px solid #fff;
  padding: 10px;
}
.footer .footer__right button {
  padding: 9px;
  font-size: 1rem;
  font-weight: bold;
  background-color: rgb(9, 90, 9);
  border: 1px solid rgb(9, 90, 9);
  color: #fff;
  cursor: pointer;
}

button:disabled {
  background-color: #69B569;
}
@media only screen and (max-width: 700px) {
  .footer .footer__right {
    display: flex;
    flex-direction: column;
    width: 180px;
  }
}
@media only screen and (max-width: 700px) {
  .footer {
    padding: 10px;
  }
  .footer__left {
    display: none;
  }
  .footer__right {
    margin: 5px;
  }
  .footer__center {
    font-size: 14px;
  }
}
