.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(229, 241, 229);
}
.projects .projects__subHeading {
  width: 80%;
  padding: 15px;
}
.projects__cardContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  padding: 0px 30px 30px 30px;
}
.projects__card {
  box-shadow: 0px 2px 4px 2px rgb(194, 191, 191);
  background-color: white;
  text-align: left;
}
.projects__card .card__img {
  max-height: 200px;
  min-height: 200px;
  padding: 0px;
}
.projects__card .card__text {
  padding: 15px 20px;
}
.projects__card .card__text h2 {
  padding: 5px;
  font-weight: 600;
  font-size: 1rem;
}
.projects__card .card__text p {
  padding: 5px;
  font-weight: 600;
  font-size: 1rem;
}
@media only screen and (max-width: 700px) {
  .projects__cardContainer {
    flex-direction: column;
  }
  .projects__card {
    margin: 10px;
    width: 100%;
  }
}
